table#map
{
  border-collapse:collapse;
  position: absolute;
  top: 0px;
  left: 0px;
}
table#map caption
{
  border: solid black 1px;
  color: blue
}
table#map td
{
  border: solid black 1px;
  color: green;
  text-align:center;
  width:4ex;
}
table#map td.highlighted_map
{
  color: blue;
}

table#warp
{
  border-collapse:collapse;
  position: absolute;
  top: 260px;
  left: 0px;
}
table#warp caption
{
  border: solid black 1px;
  color: blue
}
table#warp td
{
  border: solid black 1px;
  color: green;
  text-align:center;
  width:3ex;
}

table#srs
{
  border-collapse:collapse;
  position: absolute;
  top: 0px;
  left: 403px;
}
table#srs caption
{
  border: solid black 1px;
  color: blue
}
table#srs td
{
  border: solid black 1px;
  color: green;
  text-align:center;
  width:3ex;
}

table#impulse
{
  border-collapse:collapse;
  position: absolute;
  top: 260px;
  left: 394px;
}
table#impulse caption
{
  border: solid black 1px;
  color: blue
}
table#impulse td
{
  border: solid black 1px;
  color: green;
  text-align:center;
  width:3ex;
}

table#torpedo
{
  border-collapse:collapse;
  position: absolute;
  top: 260px;
  left: 667px;
}
table#torpedo caption
{
  border: solid black 1px;
  color: blue
}
table#torpedo td
{
  border: solid black 1px;
  color: green;
  text-align:center;
  width:3ex;
}

table#mission
{
  border-collapse:collapse;
  position: absolute;
  top: 0px;
  left: 713px;
}
table#mission caption
{
  border: solid black 1px;
  color: blue
}
table#mission td
{
  border: solid black 1px;
  color: green;
  text-align:center;
  width:3ex;
}

table#status
{
  border-collapse:collapse;
  position: absolute;
  top: 72px;
  left: 713px;
}
table#status caption
{
  border: solid black 1px;
  color: blue
}
table#status td
{
  border: solid black 1px;
  color: green;
  text-align:center;
  width:3ex;
}

table#lrs
{
  border-collapse:collapse;
  position: absolute;
  top: 260px;
  left: 272px;
}
table#lrs caption
{
  border: solid black 1px;
  color: blue
}
table#lrs td
{
  border: solid black 1px;
  color: green;
  text-align:center;
  width:4ex;
}

div#message4
{
  color: red;
  position: absolute;
  top: 375px;
  left: 0px;
}

div#message3
{
  color: red;
  position: absolute;
  top: 395px;
  left: 0px;
}

div#message2
{
  color: red;
  position: absolute;
  top: 415px;
  left: 0px;
}

div#message1
{
  color: red;
  position: absolute;
  top: 435px;
  left: 0px;
}

div#message
{
  color: red;
  position: absolute;
  top: 455px;
  left: 0px;
}

div#buttons
{
  position: absolute;
  top: 477px;
  left: 0px;
}

